/* Basic styles for the body */
body {
    background-color: #f0f0f0; /* Light gray background for the body */
    font-family: Arial, sans-serif;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff; /* White background for the navbar */
    border-bottom: 2px solid #cd7f32; /* Bronze bottom border for the navbar */
}

li {
    float: left;
}

.active {
    background-color: #cd7f32; /* Bronze background for active link */
    color: #333;
}

li a,
.dropbtn {
    display: inline-block;
    color: #007BFF; /* Dark text color for links */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; /* Added color transition */
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: #e0e0e0; /* Light gray background on hover */
    color: #cd7f32; /* Change text color to bronze on hover */
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff; /* White background for dropdown */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1); /* Subtle shadow for dropdown */
    z-index: 1;
}

.dropdown-content a {
    color: #333; /* Dark text color for dropdown links */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1; /* Light gray background on hover for dropdown links */
    color: #cd7f32; /* Change text color to bronze on hover */
}

.dropdown:hover .dropdown-content {
    display: block; /* Show dropdown on hover */
}