/* Basic styles for the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; /* Changed to 0 for proper spacing */
    background-color: #f0f0f0; /* Light gray background for the body */
    text-align: center;
}

html {
    background-color: #ffffff; /* White background for the HTML */
}

blockquote {
    font-family: Arial, sans-serif; /* Set the font for the blockquote */
    margin: 20px; /* Added margin for spacing */
    padding: 10px;
    border-left: 4px solid #007BFF; /* Blue left border for emphasis */
    background-color: #f9f9f9; /* Light background for blockquote */
    color: #333; /* Dark text color for readability */
}

.emphasis {
    font-style: italic; /* Italicize emphasized words */
    color: #555; /* Slightly lighter gray for emphasis */
}

.bold {
    font-weight: bold; /* Make text bold */
    color: #333; /* Dark text color for bold text */
}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background-image: linear-gradient(to bottom, #e0e0e0, #ffffff); /* Light gradient background */
    color: #333; /* Dark text color for the header */
    border-bottom: 2px solid #cd7f32; /* Blue bottom border for the header */
}

.footer {
    background-color: #f9f9f9; /* Light background color */
    color: #333; /* Dark text color for contrast */
    padding: 40px 0; /* Increased padding for a spacious feel */
    border-top: 1px solid #e0e0e0; /* Subtle top border */
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
}

.footer-column h3 {
    color: #007BFF; /* Blue color for headings */
    border-bottom: 2px solid #cd7f32; /* Blue border under headings */
    padding-bottom: 10px;
}

.footer-column a {
    color: #007BFF; /* Blue color for links */
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline; /* Underline on hover */
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    background-color: #f1f1f1; /* Slightly darker background for the bottom */
    color: #666; /* Lighter text color for the bottom */
    font-size: 14px; /* Smaller font size for the copyright notice */
}